.user {
    /* border: lavender solid 1px; */
    background-color: lavender;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
}

.user img {
    width: 4rem;
}

.selected {
    font-weight: bold;
}

.pages {
    border: double lavender 3px;
    margin: 0.5rem;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}
