.myposts {
    padding: 10px;
}

.textarea {
    border-radius: 5px;
    padding: 5px;
    background-color: lightsteelblue;
    overflow: hidden;
}

textarea {
    display: block;
    width: 100%;
    padding: 3px;
    background: transparent;
    border: none;
    resize: none;
}

.posts {
    margin-top: 10px;
}

.btn_posts {
    margin: 5px;
}
