.container {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.item {
    font-size: xx-large;
    font-weight: bold;
    color: blue;
    text-shadow: 3px 3px white;
}

.list {
    /* grid-column: 2/7; */
    padding: 10px;
    border: 1px solid blue;
    background-color: cornsilk;
}
