header img {
  vertical-align: middle;
  margin: 0.5rem 1rem;
  width: 2rem;
}
header h2 {
  display: inline;
}

header {
  grid-area: h;
  background-color: darkorange;
  /* position: fixed;
  width: 88vw; */
}

.needupdate {
  display: inline;
  color: red;
  font-weight: bold;
}

.updated {
  display: inline;
  color: green;
  font-weight: bold;
}

.needupdate:hover {
  cursor: pointer;
}

.loginBlock {
  font-weight: 600;
  float: right;
  margin-right: 10px;
}
