nav {
    padding: 0.5rem;
    grid-area: n;
    background-color: khaki;
}

.item {
    margin-bottom: 3px;
    /* border: 1px solid orange; */
    text-align: center;
    background-color: palegoldenrod;
}

.item a {
    color: orangered;
    text-decoration: none;
    font-weight: bold;
}

.item a.active {
    color: white;
}