.image {
    display: inline-block;
    width: 10fr;
    height: 25vh;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 5px;
}
.image img {
    width: 100%;
    display: block;
    position: relative;
    top: -100%;
}

.descriptionBlock {
    padding: 10px;
}

/* .image img {
    width: 90%;
    display: block;
} */
