.tree {
  /* grid-column: 1/2; */
  padding: 10px;
  border: 1px solid blue;
  background-color: cornsilk;
  cursor: default;
}

.tree i {
  color: coral;
  margin-right: 5px;
}

.tree span {
  font-family: FontAwesome;
}

.tree li {
    white-space: nowrap;
}

.tree span:active {
  background-color: cyan;
}

ul {
  padding-left: 10px;
  list-style: none;
}

.tree h2 {
  text-align: center;
  border-bottom: solid 1px;
}
